<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chi tiết sản phẩm</title>
	<meta name="viewport" content="width=device-width,inital-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/style1.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<main>
		<div class="header">
			<div class="bottom_header">
				<nav class="navbar navbar-expand-md navbar-light bg_dark mb-2 conta" style="justify-content: space-between;">
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="container">
								<div class="collapse navbar-collapse" id="navbarCollapse">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item active">
											<a class="nav-link" href="../layout/home.html"><i class="fas fa-home-lg-alt"></i>Trang chủ <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item dropdown p-relavtive">
										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="../layout/index2.html">Chăm sóc da</a>
											<a class="dropdown-item" href="../layout/index1.html">Chăm sóc tóc</a>
											<a class="dropdown-item" href="../layout/index3.html">Son</a>
										</div>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Làm đẹp</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Liên hệ</a>
										</li>
									</ul>
									<form class="form-inline mt-2 mt-md-0">
										<input class="form-control mr-sm-2" type="text" placeholder="Nhập từ khóa..." aria-label="Search">
										<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
									</form>
								</div>
							</div>
						</nav>
			</div>
			<div class="top_header">
						<div class="opa">
							<div class="container d-flex" style="justify-content: space-between;">
									<img src="../images/hab_center_img.png" class=" rounded-circle1 " alt="Responsive image"/>
									<p class="chuChay">CHI TIẾT SẢN PHẨM<br><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i></p>
									<div class="logo">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-item dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i></a>
										<div class="dropdown-menu">
										<a class="dropdown-item" href="../../Login/index.html">Đăng nhập</a>
										<a class="dropdown-item" href="../../Register/index.html">Đăng ký</a>
										</div>
										</li>
										<li class="nav-item dropdown"><a class="nav-link dropdown-item text-light" href="#"><i class="fas fa-cart-arrow-down"></i></a></li>
									</div>
								</div>
						</div>	
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="content">
				<div class="left">
					<img src="../images/sp_4.jpg" width="100%">
				</div>
				<div class="right">
					<div class="top">
						<p class="tittle">Kem Dưỡng Trắng Da Pure</p>
						<p>Thương hiệu: Khác</p>
						<hr>
						<p class="price">380.000đ</p>
						<hr>
						<p>Công dụng</p>
						<div class="congDung">
							<ul>
								<li>Nuôi dưỡng làn da trắng hồng mịn màng</li>
								<li>Sử dụng thay thế kem nền, kiềm dầu tối đa cho da</li>
								<li>Dưỡng trắng chuyên sâu + Cân bằng độ ẩm</li>
								<li>Trẻ hoá làn da</li>
								<li>Mờ thâm - nám, Căng, mịn da, Se khít lỗ chân lông, Chống khô nẻ</li>
							</ul>
						</div>
						<p>Thành phần</p>
						<div class="thanhPhan">
							<ul>
								<li>Bột nhân sâm , vitamin E , vitamin B3, tinh bột ngọc trai, collagen </li>
								<li>Chiết xuất Trà xanh</li>
							</ul>
						</div>
						<p>Cách sử dụng</p>
						<div class="HSD">
							<ul>
								<li>Apply trực tiếp lên da</li>
							</ul>
						</div>
						<p>Dung tích: 50 ml</p>
					</div>
					<div class="bottom">
						<button type="button" class="btn btn-info like"><i class="fas fa-thumbs-up"></i><span>Like</span>
							<input type="text" name="soluong" value="0" class="soluong btn-info" disabled>
						</button>
						<button type="button" class="btn btn-info"><a href="#">Chia sẻ</a>							
						</button>
					</div>
					<p>Số lượng:</p>
					<div class="bottomm"></div>
						<div class="mua">
							<div class="tru"><button>-</button></div>
							<input type="text" value="1" name="giatri" disabled />
							<div class="cong"><button>+</button></div>
							<div class="gio"><button type="submit" class="btn_mua btn-info">Mua ngay</button></div>
							<div class="gio"><button type="submit" class="btn_mua btn-info">Thêm vào giỏ</button></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<footer class="page-footer font-small" style="background-color: #222222;">

		  <div style="background-color: #6351ce;">
		    <div class="container">

		      <!-- Grid row-->
		      <div class="row py-4 d-flex align-items-center">

		        <!-- Grid column -->
		        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
		          <h6 class="mb-0">Get connected with us on social networks!</h6>
		        </div>
		        <!-- Grid column -->

		        <!-- Grid column -->
		        <div class="col-md-6 col-lg-7 text-center text-md-right" style="color: white;">

		          <!-- Facebook -->
		          <a  href="" class="fb-ic" style="text-decoration: none; color: white;">
		            <i class="fab fa-facebook-f white-text mr-4"> </i>
		          </a>
		          <!-- Twitter -->
		          <a href="" class="tw-ic" style="text-decoration: none; color: white;">
		            <i class="fab fa-twitter white-text mr-4"> </i>
		          </a>
		          <!-- Google +-->
		          <a href=""class="gplus-ic" style="text-decoration: none; color: white;"> 
		            <i class="fab fa-google-plus-g white-text mr-4"> </i>
		          </a>
		          <!--Linkedin -->
		          <a href="" class="li-ic" style="text-decoration: none; color: white;">
		            <i class="fab fa-linkedin-in white-text mr-4"> </i>
		          </a>
		          <!--Instagram-->
		          <a href="" class="ins-ic" style="text-decoration: none; color: white;">
		            <i class="fab fa-instagram white-text"> </i>
		          </a>

		        </div>
		        <!-- Grid column -->

		      </div>
		      <!-- Grid row-->

		    </div>
		  </div>

		  <!-- Footer Links -->
		  <div class="container text-center text-md-left mt-5">

		    <!-- Grid row -->
		    <div class="row mt-3" style="color: white;">

		      <!-- Grid column -->
		      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

		        <!-- Content -->
		        <h6 class="text-uppercase font-weight-bold">Company name</h6>
		        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
		          consectetur
		          adipisicing elit.</p>

		      </div>
		      <!-- Grid column -->

		      <!-- Grid column -->
		      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

		        <!-- Links -->
		        <h6 class="text-uppercase font-weight-bold">Products</h6>
		        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">MDBootstrap</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">MDWordPress</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">BrandFlow</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">Bootstrap Angular</a>
		        </p>

		      </div>
		      <!-- Grid column -->

		      <!-- Grid column -->
		      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

		        <!-- Links -->
		        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
		        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">Your Account</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">Become an Affiliate</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">Shipping Rates</a>
		        </p>
		        <p>
		          <a href="#!" style="text-decoration: none;color: white; font-weight: bold;">Help</a>
		        </p>

		      </div>
		      <!-- Grid column -->

		      <!-- Grid column -->
		      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

		        <!-- Links -->
		        <h6 class="text-uppercase font-weight-bold">Contact</h6>
		        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		        <p>
		          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
		        <p>
		          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
		        <p>
		          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
		        <p>
		          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

		      </div>
		      <!-- Grid column -->

		    </div>
		    <!-- Grid row -->

		  </div>
		  <!-- Footer Links -->

		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-3" style="color: white;"><i class="far fa-copyright"></i>
		    <a style="text-decoration: none;color: white; font-weight: bold;">DESIGN By LANH HANG</a>
		  </div>
		  <!-- Copyright -->
		</footer>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/script1.js"></script>
</html>